# Composer
/vendor/

# Build
/n98-magerun.phar
/n98-magerun.phar.asc
/build/output/
/build/vendor/

# Magerun stopfile
/.n98-magerun

# IDEs
/.idea/
/nbproject/
/.vscode

# Phpunit configuration
/phpunit.xml

# Act
act.env
act.secrets

# Local Magento src
/magento

