# Composer
vendor/

# Phpunit
phpunit.xml

# Build files
composer.phar

# Magerun stopfile
.n98-magerun

# Miscellaneous (Kraut und Rueben)
.DS_Store
.idea
example-magento
clover.xml
clover
/.project
doc/**
reports/**
