includes:
    - .phpstan.dist.baseline.neon
parameters:
    paths:
      - src
    scanDirectories:
      - magento
    level: 6
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: parameterByRef.unusedType
        - identifier: property.unusedType
