includes:
    - .phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    paths:
      - src
    scanDirectories:
      - magento
    level: 4
    treatPhpDocTypesAsCertain: false
