parameters:
	ignoreErrors:
		-
			message: '#^Method N98\\Magento\\Application\:\:getAutoloader\(\) should return Composer\\Autoload\\ClassLoader\|null but returns Composer\\Autoload\\ClassLoader\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/N98/Magento/Application.php

		-
			message: '#^Parameter \#1 \$classLoader of method N98\\Magento\\Application\\Config\:\:registerCustomAutoloaders\(\) expects Composer\\Autoload\\ClassLoader, Composer\\Autoload\\ClassLoader\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/N98/Magento/Application.php

		-
			message: '#^Parameter \#1 \$classLoader of method N98\\Magento\\Application\\Config\:\:registerCustomAutoloaders\(\) expects Composer\\Autoload\\ClassLoader, Composer\\Autoload\\ClassLoader\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/N98/Magento/Application.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/N98/Magento/Application/ConfigFile.php

		-
			message: '#^Strict comparison using \=\=\= between non\-falsy\-string\|null and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/N98/Magento/Command/AbstractMagentoCommand.php

		-
			message: '#^Call to an undefined method Mage_Admin_Model_Roles\:\:setName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Admin/User/CreateUserCommand.php

		-
			message: '#^Cannot call method isDir\(\) on SplFileInfo\|string\.$#'
			identifier: method.nonObject
			count: 1
			path: src/N98/Magento/Command/Cache/Dir/FlushCommand.php

		-
			message: '#^Parameter \#1 \$value of method Mage_Catalog_Model_Category\:\:setIsActive\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/N98/Magento/Command/Category/Create/DummyCommand.php

		-
			message: '#^Parameter \#1 \$value of method Mage_Catalog_Model_Category\:\:setIsAnchor\(\) expects bool, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/N98/Magento/Command/Category/Create/DummyCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Application\:\:getMagentoRootFolder\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/ComposerWrapper/EventSubscriber.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Command\\Command\:\:setComposer\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/ComposerWrapper/EventSubscriber.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Command\\Command\:\:setIO\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/ComposerWrapper/EventSubscriber.php

		-
			message: '#^Call to an undefined method Mage_Customer_Model_Customer\:\:setFirstname\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateCommand.php

		-
			message: '#^Call to an undefined method Mage_Customer_Model_Customer\:\:setLastname\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateCommand.php

		-
			message: '#^Call to an undefined method Mage_Customer_Model_Address\:\:setIsSubscribed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateDummyCommand.php

		-
			message: '#^Call to an undefined method Mage_Customer_Model_Customer\:\:setFirstname\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateDummyCommand.php

		-
			message: '#^Call to an undefined method Mage_Customer_Model_Customer\:\:setLastname\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateDummyCommand.php

		-
			message: '#^Call to an undefined method Varien_Object\:\:getRegions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Magento/Command/Customer/CreateDummyCommand.php

		-
			message: '#^Variable \$classPrefix might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/N98/Magento/Command/Developer/Ide/PhpStorm/MetaCommand.php

		-
			message: '#^Method N98\\Magento\\Command\\Developer\\Module\\Rewrite\\ClassUtil\:\:exists\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/N98/Magento/Command/Developer/Module/Rewrite/ClassUtil.php

		-
			message: '#^Method N98\\Magento\\Command\\Developer\\Setup\\Script\\Attribute\\EntityType\\Factory\:\:create\(\) has parameter \$attribute with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/N98/Magento/Command/Developer/Setup/Script/Attribute/EntityType/Factory.php

		-
			message: '#^Method N98\\Magento\\Command\\Developer\\Setup\\Script\\Attribute\\EntityType\\Factory\:\:create\(\) has parameter \$entityType with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/N98/Magento/Command/Developer/Setup/Script/Attribute/EntityType/Factory.php

		-
			message: '#^Method N98\\Magento\\Command\\Eav\\Attribute\\ListCommand\:\:_getEntityType\(\) has parameter \$attribute with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/N98/Magento/Command/Eav/Attribute/ListCommand.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-string\|false and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/ChooseInstallationFolder.php

		-
			message: '#^Call to an undefined static method N98\\Util\\OperatingSystem\:\:getCurrentPhpBinary\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/InstallComposer.php

		-
			message: '#^Call to an undefined static method N98\\Util\\OperatingSystem\:\:locateProgram\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/InstallComposer.php

		-
			message: '#^Strict comparison using \=\=\= between ''composer''\|''composer\.phar'' and ''0'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/InstallComposer.php

		-
			message: '#^Variable \$composerBin might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/InstallComposer.php

		-
			message: '#^Variable \$exception might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/N98/Magento/Command/Installer/SubCommand/InstallMagento.php

		-
			message: '#^Strict comparison using \=\=\= between non\-falsy\-string\|null and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/N98/Magento/Command/ScriptCommand.php

		-
			message: '#^Property N98\\Magento\\Command\\System\\Check\\Filesystem\\FilesCheck\:\:\$_checkCommand \(N98\\Magento\\Command\\System\\CheckCommand\) does not accept Symfony\\Component\\Console\\Command\\Command\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/N98/Magento/Command/System/Check/Filesystem/FilesCheck.php

		-
			message: '#^Property N98\\Magento\\Command\\System\\Check\\Filesystem\\FoldersCheck\:\:\$_checkCommand \(N98\\Magento\\Command\\System\\CheckCommand\) does not accept Symfony\\Component\\Console\\Command\\Command\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/N98/Magento/Command/System/Check/Filesystem/FoldersCheck.php

		-
			message: '#^Parameter \#1 \$function of function call_user_func_array expects callable\(\)\: mixed, array\{\$this\(N98\\Magento\\Command\\System\\Check\\Settings\\CheckAbstract\), ''checkSettings''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/N98/Magento/Command/System/Check/Settings/CheckAbstract.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, Symfony\\Component\\Finder\\SplFileInfo given\.$#'
			identifier: argument.type
			count: 1
			path: src/N98/Magento/Command/System/InfoCommand.php

		-
			message: '#^Parameter \#2 \$callback of function array_filter expects \(callable\(array\{function\: string, line\?\: int, file\?\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: array\<mixed\>, object\?\: object\}\)\: bool\)\|null, Closure\(mixed\)\: \(array\{function\: string, line\?\: int, file\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: array\<mixed\>, object\?\: object\}\|false\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/N98/Magento/Command/System/Setup/RunCommand.php

		-
			message: '#^Call to an undefined method object\{ref\: \$this\(N98\\Util\\AutoloadHandler\)\}&stdClass\:\:reset\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/N98/Util/AutoloadHandler.php

		-
			message: '#^Binary operation "/" between non\-falsy\-string and 1000 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: src/N98/Util/DateTime.php

		-
			message: '#^Instanceof between N98\\Util\\WindowsSystem and N98\\Util\\WindowsSystem will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/N98/Util/WindowsSystem.php

		-
			message: '#^Left side of \|\| is always true\.$#'
			identifier: booleanOr.leftAlwaysTrue
			count: 1
			path: src/N98/Util/WindowsSystem.php
