application:
  check-root-user: true

twig:
  baseDirs:

plugin:
  folders:
    - /usr/local/share/n98-magerun/modules

helpers:
  database: N98\Util\Console\Helper\DatabaseHelper
  dialog: Composer\Command\Helper\DialogHelper
  parameter: N98\Util\Console\Helper\ParameterHelper
  table: N98\Util\Console\Helper\TableHelper

script:
  folders:
    - /usr/local/share/n98-magerun/scripts

init:
  code: admin
  type: store
  options: []

detect:
  subFolders:
    - web
    - www
    - htdocs
    - public
    - pub
    - webroot
    - web-root
    - wwwroot

event:
  subscriber:
    - N98\Magento\EventSubscriber
    - N98\Magento\Command\ComposerWrapper\EventSubscriber

commands:
  customCommands:
    - N98\Magento\Command\Admin\DisableNotificationsCommand
    - N98\Magento\Command\Admin\User\ChangePasswordCommand
    - N98\Magento\Command\Admin\User\CreateUserCommand
    - N98\Magento\Command\Admin\User\ListCommand
    - N98\Magento\Command\Admin\User\DeleteUserCommand
    - N98\Magento\Command\Admin\User\ChangeStatusCommand
    - N98\Magento\Command\Admin\User\UnlockCommand
    - N98\Magento\Command\Cache\CleanCommand
    - N98\Magento\Command\Cache\DisableCommand
    - N98\Magento\Command\Cache\EnableCommand
    - N98\Magento\Command\Cache\FlushCommand
    - N98\Magento\Command\Cache\ListCommand
    - N98\Magento\Command\Cache\ReportCommand
    - N98\Magento\Command\Cache\ViewCommand
    - N98\Magento\Command\Cms\Banner\ToggleCommand
    - N98\Magento\Command\Cms\Block\ToggleCommand
    - N98\Magento\Command\Cms\Page\PublishCommand
    - N98\Magento\Command\Config\DeleteCommand
    - N98\Magento\Command\Config\DumpCommand
    - N98\Magento\Command\Config\GetCommand
    - N98\Magento\Command\Config\SetCommand
    - N98\Magento\Command\Config\SearchCommand
    - N98\Magento\Command\Customer\ChangePasswordCommand
    - N98\Magento\Command\Customer\CreateCommand
    - N98\Magento\Command\Customer\CreateDummyCommand
    - N98\Magento\Command\Customer\InfoCommand
    - N98\Magento\Command\Customer\ListCommand
    - N98\Magento\Command\Customer\DeleteCommand
    - N98\Magento\Command\Database\ConsoleCommand
    - N98\Magento\Command\Database\CreateCommand
    - N98\Magento\Command\Database\DropCommand
    - N98\Magento\Command\Database\DumpCommand
    - N98\Magento\Command\Database\ImportCommand
    - N98\Magento\Command\Database\InfoCommand
    - N98\Magento\Command\Database\QueryCommand
    - N98\Magento\Command\Database\VariablesCommand
    - N98\Magento\Command\Database\StatusCommand
    - N98\Magento\Command\Database\Maintain\CheckTablesCommand
    - N98\Magento\Command\Design\DemoNoticeCommand
    - N98\Magento\Command\Developer\Code\Model\MethodCommand
    - N98\Magento\Command\Developer\Ide\PhpStorm\MetaCommand
    - N98\Magento\Command\Developer\Setup\Script\AttributeCommand
    - N98\Magento\Command\Developer\ConsoleCommand
    - N98\Magento\Command\Developer\Log\DbCommand
    - N98\Magento\Command\Developer\Log\LogCommand
    - N98\Magento\Command\Developer\Log\SizeCommand
    - N98\Magento\Command\Developer\Module\CreateCommand
    - N98\Magento\Command\Developer\Module\Disableenable\DisableCommand
    - N98\Magento\Command\Developer\Module\Disableenable\EnableCommand
    - N98\Magento\Command\Developer\Module\UpdateCommand
    - N98\Magento\Command\Developer\Module\ListCommand
    - N98\Magento\Command\Developer\Module\Observer\ListCommand
    - N98\Magento\Command\Developer\Module\Rewrite\ConflictsCommand
    - N98\Magento\Command\Developer\Module\Rewrite\ListCommand
    - N98\Magento\Command\Developer\Module\Dependencies\OnCommand
    - N98\Magento\Command\Developer\Module\Dependencies\FromCommand
    - N98\Magento\Command\Developer\ProfilerCommand
    - N98\Magento\Command\Developer\Report\CountCommand
    - N98\Magento\Command\Developer\ClassLookupCommand
    - N98\Magento\Command\Developer\SymlinksCommand
    - N98\Magento\Command\Developer\TemplateHintsBlocksCommand
    - N98\Magento\Command\Developer\TemplateHintsCommand
    - N98\Magento\Command\Developer\Theme\DuplicatesCommand
    - N98\Magento\Command\Developer\Theme\ListCommand
    - N98\Magento\Command\Developer\Theme\InfoCommand
    - N98\Magento\Command\Developer\Translate\InlineAdminCommand
    - N98\Magento\Command\Developer\Translate\InlineShopCommand
    - N98\Magento\Command\Developer\Translate\SetCommand
    - N98\Magento\Command\Developer\Translate\ExportCommand
    - N98\Magento\Command\Eav\Attribute\ListCommand
    - N98\Magento\Command\Eav\Attribute\RemoveCommand
    - N98\Magento\Command\Eav\Attribute\ViewCommand
    - N98\Magento\Command\GiftCard\CreateCommand
    - N98\Magento\Command\GiftCard\InfoCommand
    - N98\Magento\Command\GiftCard\RemoveCommand
    - N98\Magento\Command\GiftCard\Pool\GenerateCommand
    - N98\Magento\Command\Indexer\ListCommand
    - N98\Magento\Command\Indexer\ReindexAllCommand
    - N98\Magento\Command\Indexer\ReindexCommand
    - N98\Magento\Command\Installer\InstallCommand
    - N98\Magento\Command\Installer\UninstallCommand
    - N98\Magento\Command\LocalConfig\GenerateCommand
    - N98\Magento\Command\MagentoConnect\DownloadExtensionCommand
    - N98\Magento\Command\MagentoConnect\InstallExtensionCommand
    - N98\Magento\Command\MagentoConnect\ListExtensionsCommand
    - N98\Magento\Command\MagentoConnect\UpgradeExtensionCommand
    - N98\Magento\Command\MagentoConnect\ValidateExtensionCommand
    - N98\Magento\Command\Media\DumpCommand
    - N98\Magento\Command\OpenBrowserCommand
    - N98\Magento\Command\ScriptCommand
    - N98\Magento\Command\Script\Repository\ListCommand
    - N98\Magento\Command\Script\Repository\RunCommand
    - N98\Magento\Command\SelfUpdateCommand
    - N98\Magento\Command\ShellCommand
    - N98\Magento\Command\System\CheckCommand
    - N98\Magento\Command\System\Cron\HistoryCommand
    - N98\Magento\Command\System\Cron\ListCommand
    - N98\Magento\Command\System\Cron\RunCommand
    - N98\Magento\Command\System\InfoCommand
    - N98\Magento\Command\System\MaintenanceCommand
    - N98\Magento\Command\System\Setup\CompareVersionsCommand
    - N98\Magento\Command\System\Setup\ChangeVersionCommand
    - N98\Magento\Command\System\Setup\RemoveCommand
    - N98\Magento\Command\System\Setup\RunCommand
    - N98\Magento\Command\System\Setup\IncrementalCommand
    - N98\Magento\Command\System\Store\Config\BaseUrlListCommand
    - N98\Magento\Command\System\Store\ListCommand
    - N98\Magento\Command\System\Url\ListCommand
    - N98\Magento\Command\System\Website\ListCommand
    - "composer:init": Composer\Command\InitCommand
    - "composer:install": Composer\Command\InstallCommand
    - "composer:require": Composer\Command\RequireCommand
    - "composer:update": Composer\Command\UpdateCommand
    - "composer:validate": Composer\Command\ValidateCommand
    - "composer:search": Composer\Command\SearchCommand
    - "composer:diagnose": Composer\Command\DiagnoseCommand

  disabled:
    - dummy

  aliases: []

  N98\Magento\Command\Installer\InstallCommand:
    magento-packages:
      - name: magento-ce-1.9.1.1
        version: 1.9.1.1
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.9.1.1/magento-1.9.1.1.tar.gz
          type: tar
          shasum: 170e4b9019f43477d2f2a074ef551a05009da724
        extra:
          sample-data: sample-data-1.9.1.0

      - name: magento-ce-1.9.1.0
        version: 1.9.1.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.9.1.0/magento-1.9.1.0.tar.gz
          type: tar
          shasum: 4f7064f4a5bc46298979e8b37208be6fdaf20002
        extra:
          sample-data: sample-data-1.9.1.0

      - name: magento-ce-1.9.0.1
        version: 1.9.0.1
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.9.0.1/magento-1.9.0.1.tar.gz
          type: tar
          shasum: 5100c4dab56cf587d5478b9bf8b5d4a0fa411179
        extra:
          sample-data: sample-data-1.9.0.0

      - name: magento-ce-1.8.1.0
        version: 1.8.1.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.8.1.0/magento-1.8.1.0.tar.gz
          type: tar
          shasum: 024a6173003e4f6814e7fb7e84ca8b08a18db4c1
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-ce-1.8.0.0
        version: 1.8.0.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.8.0.0/magento-1.8.0.0.tar.gz
          type: tar
          shasum: 31a52e9522d09065ff6f939faa1289023db2eff5
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-ce-1.7.0.2
        version: 1.7.0.2
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.7.0.2/magento-1.7.0.2.tar.gz
          type: tar
          shasum: 8d2a378e92ee917a3b74b1a51a8d3e6874dc6ab9
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-ce-1.6.2.0
        version: 1.6.2.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.6.2.0/magento-1.6.2.0.tar.gz
          type: tar
          shasum: 897050f0c08480ab6531eead5a5caadfef673340
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-mirror-1.9.2.1
        version: 1.9.2.0
        dist:
          url: https://github.com/OpenMage/magento-mirror/archive/1.9.2.1.zip
          type: zip
          shasum: ce0c435a7320c4cac47290337b64861c2674e3f8
        extra:
          sample-data: sample-data-1.9.1.0

      - name: magento-mirror-1.9.2.0
        version: 1.9.2.0
        dist:
          url: https://github.com/LokeyCoding/magento-mirror/archive/1.9.2.0.zip
          type: zip
          shasum: 019538c04b6359ad61e4c6d2f54c835bd76f7141
        extra:
          sample-data: sample-data-1.9.1.0

      - name: magento-mirror-1.7.0.2
        version: 1.7.0.2
        dist:
          url: https://github.com/LokeyCoding/magento-mirror/archive/1.7.0.2.tar.gz
          type: tar
          shasum: c10a3e15f9311c2b079bb2e71bacb32cb3192402
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-mirror-1.6.2.0
        version: 1.6.2.0
        dist:
          url: https://github.com/LokeyCoding/magento-mirror/archive/1.6.2.0.tar.gz
          type: tar
          shasum: 301b815359b8abd4dfcd828b261cd924d9868a19
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-mirror-1.5.1.0
        version: 1.5.1.0
        source:
          url: git://github.com/LokeyCoding/magento-mirror.git
          type: git
          reference: magento-1.5
        extra:
          sample-data: sample-data-1.1.2

      - name: magento-mirror-1.4.2.0
        version: 1.4.2.0
        source:
          url: git://github.com/LokeyCoding/magento-mirror.git
          type: git
          reference: magento-1.4
        extra:
          sample-data: sample-data-1.1.2

      - name: mageplus-master
        version: dev-master
        source:
          url: https://github.com/mageplus/mageplus.git
          type: git
          reference: master
        extra:
          sample-data: sample-data-1.6.1.0

    demo-data-packages:
      - name: sample-data-1.9.1.0
        version: 1.9.1.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.9.1.0/magento-sample-data-1.9.1.0.tar.gz
          type: tar
          shasum: 617e0271900772ac8f11e7bb86e29fca0f640562

      - name: sample-data-1.9.0.0
        version: 1.9.0.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.9.0.0/magento-sample-data-1.9.0.0.tar.gz
          type: tar
          shasum: b2b535901eb2db92a8602baf8a839ab2120c4c8f

      - name: sample-data-1.6.1.0
        version: 1.6.1.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.6.1.0/magento-sample-data-1.6.1.0.tar.gz
          type: tar
          shasum: a9226bc92966855327f6eb62ff8f6c562b2113a2

      - name: sample-data-1.1.2
        version: 1.1.2
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.1.2/magento-sample-data-1.1.2.tar.bz2
          type: tar
          shasum: e8ddbf94698224fb71c946e789f7a23dec236384

    installation:
      pre-check:
        php:
          extensions:
            - pdo_mysql
            - spl
            - dom
            - simplexml
            - mcrypt
            - hash
            - curl
            - iconv
            - ctype
            - gd

      defaults:
        currency: EUR
        locale: de_DE
        timezone: Europe/Berlin
        use_secure: no
        use_rewrites: yes
        session_save: files
        admin_username: admin
        admin_firstname: John
        admin_lastname: Doe
        admin_password: password123
        admin_frontname: admin
        admin_email: john.doe@example.com
        encryption_key:

  N98\Magento\Command\Database\DumpCommand:
    table-groups:
      - id: log
        description: Log tables
        tables: log_url log_url_info log_visitor log_visitor_info log_visitor_online report_event report_compared_product_index report_viewed_*

      - id: dataflowtemp
        description: Temporary tables of the dataflow import/export tool
        tables: dataflow_batch dataflow_batch_export dataflow_batch_import dataflow_import_data dataflow_session

      - id: importexporttemp
        description: Temporary tables of the Import/Export module
        tables: importexport_importdata

      - id: sessions
        description: Database session tables
        tables: core_session

      - id: stripped
        description: Standard definition for a stripped dump (logs, sessions and dataflow)
        tables: @log @dataflowtemp @importexporttemp @sessions

      - id: sales
        description: Sales data (orders, invoices, creditmemos etc)
        tables: sales_order_aggregated* sales_order_tax* sales_flat* sales_recurring_* sales_refunded_* sales_payment_* enterprise_sales_* enterprise_customer_sales_* sales_bestsellers_*

      - id: customers
        description: Customer data - Should not be used without @sales
        tables: customer_address* customer_entity* wishlist*

      - id: newsletter
        description: Newsletter subscriber data
        tables: newsletter_*

      - id: trade
        description: Current trade data (customers and orders). You usally do not want those in developer systems.
        tables: @customers @sales

      - id: development
        description: Removes logs and trade data so developers do not have to work with real customer data
        tables: @trade @stripped @search @newsletter

      - id: ee_changelog
        description: Changelog tables of new indexer since EE 1.13
        tables: "*_cl"

      - id: search
        description: Search related tables
        tables: "catalogsearch_*"

      - id: idx
        description: Tables with _idx suffix and index event tables
        tables: "*_idx index_event index_process_event"

  N98\Magento\Command\Customer\ListCommand:
    limit: 1000

  N98\Magento\Command\System\CheckCommand:
    checks:
      settings:
        - N98\Magento\Command\System\Check\Settings\SecureBaseUrlCheck
        - N98\Magento\Command\System\Check\Settings\UnsecureBaseUrlCheck
        - N98\Magento\Command\System\Check\Settings\SecureCookieDomainCheck
        - N98\Magento\Command\System\Check\Settings\UnsecureCookieDomainCheck
      filesystem:
        - N98\Magento\Command\System\Check\Filesystem\FoldersCheck
        - N98\Magento\Command\System\Check\Filesystem\FilesCheck
      php:
        - N98\Magento\Command\System\Check\PHP\ExtensionsCheck
        - N98\Magento\Command\System\Check\PHP\BytecodeCacheExtensionsCheck
      security:
        - N98\Magento\Command\System\Check\Security\LocalConfigAccessableCheck
      mysql:
        - N98\Magento\Command\System\Check\MySQL\VersionCheck
        - N98\Magento\Command\System\Check\MySQL\EnginesCheck

    filesystem:
      folders:
        media: "Used for images and other media files."
        var: "Used for caching, reports, etc."
        var/cache: "Used for caching"
        var/session: "Used as file based session save"

      files:
        app/etc/local.xml: "Magento local configuration."
        index.php.sample: "Used to generate staging websites in Magento enterprise edition"

    php:
      required-extensions:
        - simplexml
        - mcrypt
        - hash
        - gd
        - dom
        - iconv
        - curl
        - soap
        - pdo
        - pdo_mysql

      bytecode-cache-extensions:
        - apc
        - eaccelerator
        - xcache
        - Zend Optimizer
        - Zend OPcache

  N98\Magento\Command\Media\DumpCommand:
    strip:
      folders:
        - catalog/product/cache
        - css
        - js
