commands:
  customCommands: []
  aliases: []

  N98\Magento\Command\Installer\InstallCommand:
    magento-packages:
      - name: magento-ce-1.6.2.0
        version: 1.6.2.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.6.2.0/magento-1.6.2.0.tar.gz
          type: tar
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-ce-1.7.0.2
        version: 1.7.0.2
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.7.0.2/magento-1.7.0.2.tar.gz
          type: tar
        extra:
          sample-data: sample-data-1.6.1.0

      - name: mageplus-master
        version: dev-master
        source:
          url: https://github.com/mageplus/mageplus.git
          type: git
          reference: master
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-mirror-1.4.2.0
        version: 1.4.2.0
        source:
          url: git://github.com/LokeyCoding/magento-mirror.git
          type: git
          reference: magento-1.4
        extra:
          sample-data: sample-data-1.1.2

      - name: magento-mirror-1.5.1.0
        version: 1.5.1.0
        source:
          url: git://github.com/LokeyCoding/magento-mirror.git
          type: git
          reference: magento-1.5
        extra:
          sample-data: sample-data-1.1.2

      - name: magento-mirror-1.6.2.0
        version: 1.6.2.0
        dist:
          url: https://github.com/LokeyCoding/magento-mirror/archive/1.6.2.0.zip
          type: zip
        extra:
          sample-data: sample-data-1.6.1.0

      - name: magento-ce-2.0.0.0-dev (experimental)
        version: 2.0.0.0-dev
        source:
          url: https://github.com/magento/magento2.git
          type: git
          reference: master

    demo-data-packages:
      - name: sample-data-1.6.1.0
        version: 1.6.1.0
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.6.1.0/magento-sample-data-1.6.1.0.tar.gz
          type: tar
      - name: sample-data-1.1.2
        version: 1.1.2
        dist:
          url: http://www.magentocommerce.com/downloads/assets/1.1.2/magento-sample-data-1.1.2.tar.bz2
          type: tar

    installation:
      defaults:
        currency: EUR
        locale: de_DE
        timezone: Europe/Berlin
        use_secure: no
        use_rewrites: yes
        session_save: files
        admin_username: admin
        admin_firstname: John
        admin_lastname: Doe
        admin_password: password123
        admin_frontname: admin
        admin_email: john.doe@example.com

  N98\Magento\Command\Database\DumpCommand:
    table-groups:
      - id: log
        description: Log tables
        tables: log_url log_url_info log_visitor log_visitor_info log_visitor_online report_event

      - id: dataflowtemp
        description: Temporary tables of the dataflow import/export tool
        tables: dataflow_batch_import dataflow_batch_export

      - id: stripped
        description: Standard definition for a stripped dump (logs and dataflow)
        tables: @stripped @log @dataflowtemp

      - id: sales
        description: Sales data (orders, invoices, creditmemos etc)
        tables: sales_order_aggregated* sales_order_tax* sales_flat* sales_recurring_* sales_refunded_* sales_payment_* enterprise_sales_* enterprise_customer_sales_*

      - id: customers
        description: Customer data - Should not be used without @sales
        tables: customer_address* customer_entity*

      - id: trade
        description: Current trade data (customers and orders). You usally do not want those in developer systems.
        tables: @customers @sales

      - id: development
        description: Removes logs and trade data so developers do not have to work with real customer data
        tables: @trade @stripped

  N98\Magento\Command\Customer\ListCommand:
    limit: 1000