name: CI

on:
  push:
    branches:
      - $default-branch
      - 'develop'
      - 'bugfix/*'
      - 'feature/*'
      - 'release/*'
  pull_request:
    branches:
      - $default-branch
      - 'develop'

jobs:
  build:
    name: PHP Composer
    runs-on: 'ubuntu-18.04'
    steps:
      - uses: actions/checkout@v2
      - uses: symfonycorp/security-checker-action@v2

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'

      - id: composer-cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/composer
            vendor
          key: composer-${{ hashFiles('composer.lock') }}-${{ runner.os }}-
          restore-keys: |
            composer-${{ hashFiles('composer.lock') }}-${{ runner.os }}-
            composer-${{ hashFiles('composer.lock') }}-
            composer-

      - run: composer install --prefer-dist --no-progress --no-suggest
      - run: composer validate --strict
      - run: composer validate --with-dependencies
      - run: composer validate --with-dependencies --strict || echo "failure intentionally allowed"


  travis-ci-migration:
    name: ${{ matrix.run-job }}
    runs-on: ${{ matrix.machine }}
    continue-on-error: ${{ matrix.experimental }}
    needs: build

    strategy:
      fail-fast: false
      matrix:
        machine: ['ubuntu-18.04']
        php-version: ['7.2']
        run-job: ['SH lint', 'Buildsh', 'Bash Autocompletion', 'Magento 1.9.4.5 PHP 7.2']
        experimental: [false]
        include:
          - machine: 'ubuntu-18.04'
            php-version: '7.3'
            run-job: 'OpenMage LTS 20.0.4 PHP 7.3'
            experimental: false

    env:
      SETUP_DB_PASS: root

    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - {name: mysqld,shell: bash,run: 'sudo systemctl start mysql.service'}
      - uses: ktomk/run-travis-yml@v1
        with:
          run_job: ${{ matrix.run-job }}
