name: CI

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'bugfix/*'
      - 'feature/*'
      - 'release/*'
  pull_request_target:
    branches:
      - 'master'
      - 'develop'

jobs:
  build:
    name: PHP Composer
    runs-on: 'ubuntu-18.04'
    steps:
      - name: Checkout PR
        uses: actions/checkout@v3
        if: github.event_name == 'pull_request_target'
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout HEAD
        uses: actions/checkout@v3
        if: github.event_name == 'push'

      - uses: symfonycorp/security-checker-action@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/composer
            vendor
          key: composer-${{ hashFiles('composer.lock') }}-${{ runner.os }}-
          restore-keys: |
            composer-${{ hashFiles('composer.lock') }}-${{ runner.os }}-
            composer-${{ hashFiles('composer.lock') }}-
            composer-

      - run: composer install --prefer-dist --no-progress --no-suggest
      - run: composer validate --strict
      #- run: composer validate --with-dependencies
      #- run: composer validate --with-dependencies --strict || echo "failure intentionally allowed"


  travis-ci-migration:
    name: ${{ matrix.run-job }}
    runs-on: ${{ matrix.machine }}
    continue-on-error: ${{ matrix.experimental }}
    needs: [build, test-setup]

    strategy:
      fail-fast: false
      matrix:
        machine: ['ubuntu-18.04']
        php-version: ['7.2']
        run-job: ['SH lint', 'Buildsh', 'Bash Autocompletion', 'Magento 1.9.4.5 PHP 7.2']
        experimental: [false]
        include:
          - machine: 'ubuntu-18.04'
            php-version: '7.3'
            run-job: 'OpenMage LTS 20.0.14 PHP 7.3'
            experimental: false

    env:
      SETUP_DB_PASS: root

    steps:
      - name: Checkout PR
        uses: actions/checkout@v3
        if: github.event_name == 'pull_request_target'
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout HEAD
        uses: actions/checkout@v3
        if: github.event_name == 'push'

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: yaml
          coverage: none

      - {name: mysqld,shell: bash,run: 'sudo systemctl start mysql.service'}
      - uses: ktomk/run-travis-yml@v1
        with:
          run-job: ${{ matrix.run-job }}


  test-setup:
    name: Test Setup
    runs-on: ubuntu-18.04
    steps:
      - {name: mysqld,shell: bash,run: 'sudo systemctl start mysql.service'}
      
      - name: Checkout PR
        uses: actions/checkout@v3
        if: github.event_name == 'pull_request_target'
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout HEAD
        uses: actions/checkout@v3
        if: github.event_name == 'push'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/composer
            vendor
          key: composer-${{ hashFiles('composer.lock') }}-test-setup-${{ runner.os }}-
          restore-keys: |
            composer-${{ hashFiles('composer.lock') }}-test-setup-${{ runner.os }}-
            composer-${{ hashFiles('composer.lock') }}-test-setup-
            composer-${{ hashFiles('composer.lock') }}-
            composer-

      - name: test_setup.sh
        shell: bash
        run: |
          composer install --ignore-platform-reqs --prefer-dist --no-progress --no-suggest
          test_setup_db_pass=root \
          test_setup_magento_version=openmage-20.0.14 \
              build/local/test_setup.sh


  codecov: # previously codecov was bound via circleci which paused for ~two years
    name: Code Coverage
    runs-on: ubuntu-18.04
    steps:
      - {name: mysqld,shell: bash,run: 'sudo systemctl start mysql.service'}

      - name: Checkout PR
        uses: actions/checkout@v3
        if: github.event_name == 'pull_request_target'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Checkout HEAD
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
        if: github.event_name == 'push'


      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'
          coverage: xdebug

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/composer
            vendor
          key: composer-${{ hashFiles('composer.lock') }}-codecov-${{ runner.os }}-
          restore-keys: |
            composer-${{ hashFiles('composer.lock') }}-codecov-${{ runner.os }}-
            composer-${{ hashFiles('composer.lock') }}-codecov-
            composer-${{ hashFiles('composer.lock') }}-
            composer-

      - name: run circle.yml scripts
        env:
          SETUP_DB_PASS: root
          MAGENTO_VERSION: magento-mirror-1.9.4.5
        run: |
          build/circleci/dependencies_pre.sh
          build/circleci/test.sh
      - uses: codecov/codecov-action@v3
        with:
          file: ./build/coverage/clover.xml # $CLOVER_XML
